<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>
    <script src="js/jquery-2.x.x.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery-scrollspy.js"></script>
    <script src="js/fullPage.js/jquery.fullPage.js"></script>
    <!-- script src="js/jquery-mobile.js"></script -->
    <script src="js/home.js"></script>
  </body>
</html>
